<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>This app will use camera.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You can select photos to attach to reports.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow access to save photo in your photo library</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_imageSharePOC._udp</string>
		<string>_imageSharePOC._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app wants to use your local network</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
